@font-face {
  font-family: "SEBANG_Gothic_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SEBANG_Gothic_Regular";
}

.all-background {
  color: white;
  background-repeat: repeat;
  background-position: center;
  height: fit-content;
  text-align: center;
  font-family: "SEBANG_Gothic_Regular";
  overflow: scroll;
}

/*네비바*/

/*피시버전*/
@media screen and (min-width: 1024px) {
  .navigation {
    margin-left: 100px;
  }
}

/*태블릿버전*/
@media screen and (max-width: 1024px) {
  .navigation {
    margin-left: 40px;
  }
}

/*모바일버전*/
@media screen and (max-width: 464px) {
  .navigation {
    margin-left: 0;
  }
  .navigation img {
    width: 60px;
  }
  .nav-menu {
    font-size: 13px;
  }
}

.nav-menu {
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.nav-menu:hover {
  color: #0b3d91;
  font-weight: bold;
}

/*스피너*/
.spinner {
  height: 100vh;
  margin-top: 200px;
}

/*갤러리*/
.contents-back {
  background-color: rgb(0, 0, 0);
  margin: auto;
  margin-bottom: 40px;
  padding-top: 50px;
  padding-bottom: 20px;
  height: fit-content;
  width: 90%;
  border-radius: 30px;
}

.gal-img {
  width: 300px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  cursor: pointer;
}

.modal-content {
  background-color: black !important;
  text-align: center !important;
  width: fit-content !important;
  margin: auto !important;
  color: rgb(196, 196, 196) !important;
  border-radius: 15px !important;
}
.modal-header {
  border: 0 !important;
}
.btn-close {
  background-color: white !important;
}
.gal-explain img {
  width: 80%;
}
.gal-explain h3 {
  font-weight: bold;
  background-color: #0b3d91;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gal-explain p {
  font-size: 12px;
}

/*메인페이지*/
.main-back {
  height: fit-content;
}
.contents-back h1 {
  margin-bottom: 30px;
  background-color: #0b3d91;
  padding-top: 5px;
  padding-bottom: 5px;
}

.home-explain {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

.home-explain p {
  text-align: left;
}

/*태블릿*/
@media screen and (max-width: 1024px) {
  .medias img {
    width: 100%;
    height: 100%;
  }
}
/*모바일*/
@media screen and (max-width: 464px) {
  .medias img {
    width: 100%;
    height: 100%;
  }
}

/*apod*/
.for-back {
  height: 100vh;
}

.dropdowns {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 464px) {
  .dropdowns {
    display: block;
    justify-content: center;
  }
}

.dropdowns div {
  margin: 10px;
}

.dropdown-menu.show {
  height: 300px;
  overflow: scroll;
  text-align: center;
  width: 180px;
  border-radius: 20px;
}
.dropdown-menu button:hover {
  background-color: #0b3d91;
  color: white;
}
#dropdown-item-button {
  background-color: #0b3d91;
  border-color: #0b3d91;
  width: 200px;
  height: 50px;
}
#dropdown-item-button:focus {
  box-shadow: none;
}

/*태블릿*/
@media screen and (max-width: 1024px) {
  .birth img {
    width: 100%;
  }
  .birth div{
    width: 100% !important;
  }
}
/*모바일*/
@media screen and (max-width: 464px) {
  .birth img {
    width: 100%;
  }
  .birth div{
    width: 100% !important;
  }
}


/*공유버튼*/
.sharing{
  border-radius: 10px;
  font-size: 20px;
}